DiamondWebService/ReportCheckWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.reportcheck.model.ngs.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.reportcheck.model.ngs.com/" name="ReportCheckWS">
<types>
<xsd:schema>
<xsd:import namespace="http://service.reportcheck.model.ngs.com/" schemaLocation="https://labws.gia.edu/ReportCheck/ReportCheckWS?xsd=1"/>
</xsd:schema>
</types>
<message name="processRequest">
<part name="parameters" element="tns:processRequest"/>
</message>
<message name="processRequestResponse">
<part name="parameters" element="tns:processRequestResponse"/>
</message>
<message name="getReportCheckDateResult">
<part name="parameters" element="tns:getReportCheckDateResult"/>
</message>
<message name="getReportCheckDateResultResponse">
<part name="parameters" element="tns:getReportCheckDateResultResponse"/>
</message>
<message name="downloadPDFReport">
<part name="parameters" element="tns:downloadPDFReport"/>
</message>
<message name="downloadPDFReportResponse">
<part name="parameters" element="tns:downloadPDFReportResponse"/>
</message>
<message name="processRequest1">
<part name="parameters" element="tns:processRequest1"/>
</message>
<message name="processRequest1Response">
<part name="parameters" element="tns:processRequest1Response"/>
</message>
<message name="getColoredStonePearlResults">
<part name="parameters" element="tns:getColoredStonePearlResults"/>
</message>
<message name="getColoredStonePearlResultsResponse">
<part name="parameters" element="tns:getColoredStonePearlResultsResponse"/>
</message>
<portType name="ReportCheckWS">
<operation name="processRequest">
<input message="tns:processRequest"/>
<output message="tns:processRequestResponse"/>
</operation>
<operation name="getReportCheckDateResult">
<input message="tns:getReportCheckDateResult"/>
<output message="tns:getReportCheckDateResultResponse"/>
</operation>
<operation name="downloadPDFReport">
<input message="tns:downloadPDFReport"/>
<output message="tns:downloadPDFReportResponse"/>
</operation>
<operation name="processRequest1">
<input message="tns:processRequest1"/>
<output message="tns:processRequest1Response"/>
</operation>
<operation name="getColoredStonePearlResults">
<input message="tns:getColoredStonePearlResults"/>
<output message="tns:getColoredStonePearlResultsResponse"/>
</operation>
</portType>
<binding name="ReportCheckWSImplPortBinding" type="tns:ReportCheckWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="processRequest">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getReportCheckDateResult">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="downloadPDFReport">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="processRequest1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getColoredStonePearlResults">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ReportCheckWS">
<port name="ReportCheckWSImplPort" binding="tns:ReportCheckWSImplPortBinding">
<soap:address location="https://labws.gia.edu/ReportCheck/ReportCheckWS"/>
</port>
</service>
</definitions>