DiamondWebService/DiamondWebService/Web References/WebReference/ReportCheckWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.reportcheck.model.ngs.com/" name="ReportCheckWS" targetNamespace="http://service.reportcheck.model.ngs.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="https://labws.gia.edu/ReportCheck/ReportCheckWS?xsd=1" namespace="http://service.reportcheck.model.ngs.com/" />
    </xsd:schema>
  </types>
  <message name="processRequest">
    <part name="parameters" element="tns:processRequest" />
  </message>
  <message name="processRequestResponse">
    <part name="parameters" element="tns:processRequestResponse" />
  </message>
  <message name="getReportCheckDateResult">
    <part name="parameters" element="tns:getReportCheckDateResult" />
  </message>
  <message name="getReportCheckDateResultResponse">
    <part name="parameters" element="tns:getReportCheckDateResultResponse" />
  </message>
  <message name="downloadPDFReport">
    <part name="parameters" element="tns:downloadPDFReport" />
  </message>
  <message name="downloadPDFReportResponse">
    <part name="parameters" element="tns:downloadPDFReportResponse" />
  </message>
  <message name="processRequest1">
    <part name="parameters" element="tns:processRequest1" />
  </message>
  <message name="processRequest1Response">
    <part name="parameters" element="tns:processRequest1Response" />
  </message>
  <message name="getColoredStonePearlResults">
    <part name="parameters" element="tns:getColoredStonePearlResults" />
  </message>
  <message name="getColoredStonePearlResultsResponse">
    <part name="parameters" element="tns:getColoredStonePearlResultsResponse" />
  </message>
  <portType name="ReportCheckWS">
    <operation name="processRequest">
      <input message="tns:processRequest" />
      <output message="tns:processRequestResponse" />
    </operation>
    <operation name="getReportCheckDateResult">
      <input message="tns:getReportCheckDateResult" />
      <output message="tns:getReportCheckDateResultResponse" />
    </operation>
    <operation name="downloadPDFReport">
      <input message="tns:downloadPDFReport" />
      <output message="tns:downloadPDFReportResponse" />
    </operation>
    <operation name="processRequest1">
      <input message="tns:processRequest1" />
      <output message="tns:processRequest1Response" />
    </operation>
    <operation name="getColoredStonePearlResults">
      <input message="tns:getColoredStonePearlResults" />
      <output message="tns:getColoredStonePearlResultsResponse" />
    </operation>
  </portType>
  <binding name="ReportCheckWSImplPortBinding" type="tns:ReportCheckWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="processRequest">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getReportCheckDateResult">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="downloadPDFReport">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="processRequest1">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getColoredStonePearlResults">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ReportCheckWS">
    <port name="ReportCheckWSImplPort" binding="tns:ReportCheckWSImplPortBinding">
      <soap:address location="https://labws.gia.edu/ReportCheck/ReportCheckWS" />
    </port>
  </service>
</definitions>